<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="landing-page.component.css">


<div class="blur1">

  <div class="wrapper">
    <!-- <app-navbar></app-navbar> -->
<!-- 
    <div class="nav mt-3">
      <img src="../../assets/night.png" alt="" style="width: 4rem; padding-right: 1rem;">
      <span><a class="navbar-brand" href="#">forecast.now</a></span>
    </div> -->


    <div class="container main">
      <div class="box">
        <h2>Welcome to forecastNow!</h2>
      </div>
    </div>
  </div>

</div>